dist: trusty
language: ruby
bundler_args: --without development
# Pin Rubygems to a working version. Sometimes it breaks upstream. Update now and then.
before_install:
  - gem --version
  - gem update --system --quiet || gem update --system 2.7.10 --quiet
  - gem update bundler
  - gem --version
  - bash ci/setup.sh
matrix:
  include:
    - rvm: 2.4
      env: DB=mariadb10.0
      addons:
        mariadb: 10.0
        hosts:
          - mysql2gem.example.com
    - rvm: 2.4
      env: DB=mariadb10.1
      addons:
        mariadb: 10.1
        hosts:
          - mysql2gem.example.com
    - rvm: 2.4
      env: DB=mariadb10.2
      addons:
        mariadb: 10.2
        hosts:
          - mysql2gem.example.com
    - rvm: 2.4
      env: DB=mariadb10.3
      addons:
        mariadb: 10.3
        hosts:
          - mysql2gem.example.com
    - rvm: 2.4
      env: DB=mysql55
      addons:
        hosts:
          - mysql2gem.example.com
  fast_finish: true
  allow_failures:
