sudo: required
dist: trusty
language: ruby
bundler_args: --without benchmarks development
# Pin Rubygems to a working version. Sometimes it breaks upstream. Update now and then.
before_install:
  - gem --version
  - gem update --system 2.6.7
  - gem update bundler
  - gem --version
  - bash .travis_setup.sh
addons:
  hosts:
    - mysql2gem.example.com
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6
rvm:
  - 2.4
  - 2.3
  - 2.2
  - 2.1
  - 2.0.0
  - 1.9.3
  - ruby-head
matrix:
  include:
    - rvm: 1.8.7
      dist: precise
      env: SPEC_OPTS="--order rand:11"
      addons:
        hosts:
          - mysql2gem.example.com
        apt:
          packages:
          - mysql-server-5.5
          - mysql-client-core-5.5
          - mysql-client-5.5
    - rvm: ree
      dist: precise
      env: SPEC_OPTS="--order rand:11"
      addons:
        hosts:
          - mysql2gem.example.com
        apt:
          packages:
          - mysql-server-5.5
          - mysql-client-core-5.5
          - mysql-client-5.5
    - rvm: 2.0.0
      env: DB=mariadb55
      addons:
        mariadb: 5.5
        hosts:
          - mysql2gem.example.com
    - rvm: 2.0.0
      env: DB=mariadb10.0
      addons:
        mariadb: 10.0
        hosts:
          - mysql2gem.example.com
    - rvm: 2.0.0
      env: DB=mariadb10.1
      addons:
        mariadb: 10.1
        hosts:
          - mysql2gem.example.com
    - rvm: 2.0.0
      env: DB=mysql55
      dist: precise
      addons:
        hosts:
          - mysql2gem.example.com
        apt:
          packages:
          - mysql-server-5.5
          - mysql-client-core-5.5
          - mysql-client-5.5
    - rvm: 2.0.0
      env: DB=mysql57
      addons:
        hosts:
          - mysql2gem.example.com
    - rvm: 2.0.0
      env: DB=mysql80
      addons:
        hosts:
          - mysql2gem.example.com
    - rvm: 2.0.0
      env: DB=mysql56
      os: osx
      addons:
        hosts:
          - mysql2gem.example.com
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
    - rvm: 2.0.0
      env: DB=mysql56
      os: osx
