root:
  host: localhost
  username: root
  password:
  database: test

user:
  host: localhost
  username: LOCALUSERNAME
  password:
  database: mysql2_test

numericuser:
  host: localhost
  username: LOCALUSERNAME
  password:
  database: 12345
