root:
  host: localhost
  username: root
  password:
  database: test

user:
  host: localhost
  username: LOCALUSERNAME
  password:
  database: mysql2_test

aws:
  host: mydbinstance-cluster.cluster-xd5i43ct4fbx.us-east-2.rds.amazonaws.com
  username: root
  password:
  database: test